html {
    // equivalent to 10px
    font-size: 62.5%;
}

h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font: 700 1rem 'Chathura', sans-serif;;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

li {
    list-style: none;
}

h2 {
    color: #FFF;
    font-size: 8.32rem;
    line-height: 9.47rem;
    letter-spacing: 2.6px;
}

h3 {
    font-size: 6.8rem;
    line-height: 5.8rem;
    letter-spacing: 2.2px;
}

@mixin h3Color($textColor) {
    color: $textColor;
}

p {
    color: #FFF;
    font: 400 3.9rem 'Chathura', sans-serif;
    line-height: 3rem;
    letter-spacing: 1.9px;
}

button {
    cursor: pointer;
    background-color: #bf2603;
    color: #FFF;
    border: none;
    font: 400 3.9rem 'Tulpen One', cursive;
    line-height: 3rem;
    letter-spacing: 1.9px;
    padding: 12px 35px;
    margin: 35px 0 90px;
    transition: background-color 1s, color 1s;

    &:hover,
    &:focus {
        background-color: #FF8327;
        color: black;
    }
}

.copyright {
    background-color: #2e2c2c;
    padding: 10px;
    text-align: center;
}