// index.html SCSS

header {
    background-image: url(../assets/bar-one/home-image-1.jpg);
    height: 95vh;

    img {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: -60px;
    }

    nav ~ div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 75vh;
        position: relative;
        z-index: 3;

        h2 {
            width: 380px;
        }
    }
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;

        .logo {
            flex-shrink: 0;
        }
    }

    li {
        font-size: 3.8rem;
        line-height: 29px;
        letter-spacing: 1.9px;
        text-transform: uppercase;
        
        padding: 0 20px;        

        &:nth-of-type(3n) {
            font: 400 4.8rem 'Tulpen One', cursive;
            letter-spacing: 2.4px;
            text-transform: none;
        }
    }

    a {
        color: #FFF;
        text-decoration: none;
        padding: 0 20px;
        transition: color 1s;
        flex-shrink: 1;

        &:hover,
        &:focus {
            color: #FF8327;
        }
    }
}

h1 {
    color: #FF8327;
    font: 400 26.14rem 'Tulpen One', cursive;
    height: 210px;
}