.mainContainerOne {
    background: #111010;
    position: relative;
    z-index: -1;

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 170px 0 110px;
    }

    .iconContent {
        position: relative;
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;

        i {
            background-color: #BF2603;
            color: #FFF;
            font-size: 3rem;
            text-align: center;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            padding-top: 14px;
            position: absolute;
            top: 25px;
            left: 0;            

        }

        h3 {
            @include h3Color(#FFF);
            padding-left: 80px;
        }

        p {
            padding: 0 0 50px 80px;
        }
    }
}






// main / sectionThree

.mainContainerThree {

    h3 {
    @include h3Color(#FF8327)
    }
}