.mainContainerOne {
    background: #181717;
    position: relative;
    z-index: -1;

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 170px 0 110px;
    }

    .iconContent {
        position: relative;
        width: calc(50% - 10px);
        min-width: 425px;

        flex-direction: column;
        display: flex;

        i {
            background-color: #BF2603;
            color: #FFF;
            font-size: 3rem;
            text-align: center;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            padding-top: 14px;
            position: absolute;
            top: 25px;
        }

        h3 {
            @include h3Color(#FFF);
            padding: 25px 0 30px 80px;
        }

        p {
            padding: 0 0 50px 80px;
        }
    }
}

// main / sectionTwo

.mainContainerTwo {
    background-color: #220303;
    position: relative;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .containerTwoImg1 {
            position: relative;
            width: 630px;
            right: 118px;
            bottom: 35px;

            img {
                width: 100%;
                box-shadow: #FF8327 25px 25px;
            }
        }
            
        .containerTwoContent {
            width: 40%;
            min-width: 470px;
            
            h3 {
                @include h3Color(#FFF);
                padding: 70px 0 10px;
            }

            .buttonOne {
                margin-bottom: 0;
            }
            
            .align {
                text-align: right;
            }
        }
        
        .containerTwoImg2 {

            img {
                position: absolute;
                bottom: -40px;
                right: 0px;
                width: 41.6%;
                box-shadow: #FF8327 -25px 25px;
            }
        }
    }
}

// main / sectionThree

.mainContainerThree {
    background-color: #181717;

    h3 {
        @include h3Color(#FF8327);
        padding: 0 0 30px;
    }

    .contentOne {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 70%;

        h3 {
        padding-top: 160px;
        }

        button {
            width: 210px;
        }
    }

    div:nth-of-type(2n) {
    
        img {   
            width: 100%;
        }
    }

    .contentTwo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 120px;

        img {
            box-shadow: #FF8327 -25px 25px;
            margin-bottom: 20px;
            width: 100%;
            min-width: 300px;
        }

        div:last-child {
            padding-left: 20px;
            width: 67%;
        }
    }
}