@media (max-width: 1250px) {

    // main / sectionTwo

    .mainContainerTwo {

        .wrapper {
            align-content: center;
            
            .containerTwoImg1 {
                position: static;
                width: 100%;
                display: flex;
                justify-content: center;
                img {
                    width: 80%;
                }
            }
            
            .containerTwoImg2 {
                display: flex;
                justify-content: center;
                width: 100%;
                img {
                    position: static;
                    width: 80%;
                }
            }
        }
    }

    .grid .gridOne .gridImgOne,
    .grid .gridOne .gridImgTwo {
        width: 100%;
    }

    .grid .gridOne .gridImgOne img,
    .grid .gridTwo .gridImgTwo img {
        position: inherit;
        box-shadow: none;
    }

}

@media (max-width: 1041px) {

    // main / sectionThree
    .mainContainerThree {

        .contentTwo {
            justify-content: center;
            text-align: center;

            img {
                box-shadow: none;
                border: double 10px #ff8327;
            }
            
            div:last-child {
                padding-left: 0;
            }
        }
    }

// Contact / main
    
    .grid {
        .gridOne.wrapper {
            width: inherit;
            min-width: 0;
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
        }
    }

    .blog .grid .gridTwo {
    
        .wrapperTwo {
            padding: 20px 20px;
        }
        width: 100%;
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

// header

    nav {

        li {
            padding: 0 10px;
        }
    }

// main / sectionOne

    .mainContainerOne {

        .wrapper {
            justify-content: center;
        
            .iconContent {
                min-width: 80%;
            }
        }
    }
    
    // main / sectionOne
    
    .mainContainerTwo {
        .wrapper {
            justify-content: center;

            .containerTwoImg1,
            .containerTwoImg2 {
                
                img {
                    box-shadow: none;
                    border: double 10px #ff8327;
                }
            }
        }
    }
    
    .containerTwoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        min-width: 320px;

        p {
            width: 60%;
        }
    }
}
    
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

// header

    header {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;

        nav {

            a {
                padding: 0;
            }
        }

        h1 {
            font-size: 18rem;
            height: 160px;
        }

        h2 {
            text-align: center;
            width: 80%;
            height: 170px;
        }

        img {
            bottom: 130px;
            right: 5%;
            width: 90%;
        }
    }

// main / sectionThree

    .mainContainerThree {
            
        .contentOne {

            h3 {
                padding: 80px 0 50px;
            }
        }
    }
    

// footer

    footer {
        
        .wrapper {
            flex-direction: column;
            align-items: center;
            
            img {
                border: double 10px #ff8327;
                width: 70%;
            }
        }
    }

// Contact/Blog  Header

    .blogHeader,
    .contactHeader {
        height: 50vh;

        nav ~ div {
            height: 15vh;
        }

        h2 {
            text-shadow: #FF8327 2px 2px;
            display: inline-block;
            width: 100%;
        }
    }

// Contact / main

.blog .containerThree.wrapper {
    justify-content: center;

    .commentSection {
        width: 100%;

        .commentOne,
        .commentTwo {
            flex-direction: column;
            width: 100%;

            h4 {
                text-align: center;
            }

            :nth-child(2) {
                padding-left: 0;
            }
        }
    }
}

// Contact/Blog Footer

    .contactFooter,
    .blogFooter {

        .wrapper {
            height: max-content;
        }

        ul {
            justify-content: center;
        }

        .form {
            position: inherit;
            margin: 50px 0;
            box-shadow: none;
            border: double 10px #ff8327;
            width: 100%;
            height: max-content;

            button {
                margin-bottom: 0;
            }

            .nameEmail {
                flex-direction: column;    

                input[type="text"],
                input[type="email"] {
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    
// global

    p {
        font-size: 3.4rem;
        text-align: center;
    }

// header

    header {
    
        nav {
            align-items: start;
            padding: 40px 0 0;
            height: 240px;

            ~ div {
                height: 55vh;

                h2 {
                    width: 320px;
                }
            }

            .mainMenu {
                
                .hide {
                    display: none;
                }
                
                .logoA {
                    font-size: 8rem;
                }
                
                .subMenu {
                    display: inherit;
                }
            }
        }
    }
// main / sectionOne

    .mainContainerOne {

        .iconContent {
            align-items: center;

            h3, p {
                padding-left: 0;
            }

            i {
                position: static;
                margin: 0 auto;
            }
        }
    }

    // main / sectionTwo

    .mainContainerTwo .wrapper .containerTwoContent {
        min-width: 320px;
    }
    
    //  Contact / Main

    .grid .gridTwo .gridImgTwo {
        height: 300px;
    }
}
