@media (max-width: 1041px) {

    // main / sectionThree
    .mainContainerThree {

        .contentTwo {
            justify-content: center;
            text-align: center;

            img {
                box-shadow: none;
                border: double 10px #ff8327;
            }
            
            div:last-child {
                padding-left: 0;
            }
        }
    }
    
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {

// header

    nav {

        li {
            padding: 0 10px;
        }
    }

// main / sectionOne

    .mainContainerOne {

        .wrapper {
            justify-content: center;
        
            .iconContent {
                min-width: 80%;
            }
        }
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

// header

    header {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        nav {
            height: 240px;

            a {
                padding: 0;
            }
        }

        h1 {
            font-size: 18rem;
            height: 160px;
        }

        h2 {
            width: 80%;
            text-align: center;
            height: 170px;
        }

        img {
            bottom: 5px;
            right: 5%;
        }
    }

// main / sectionThree

    .mainContainerThree {
            
        .contentOne {

            h3 {
                padding: 80px 0 50px;
            }
        }
    }
    

// footer

    footer {
        
        .wrapper {
            flex-direction: column;
            align-items: center;
            
            img {
                border: double 10px #ff8327;
                width: 70%;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    
// global

    p {
        font-size: 3.4rem;
        text-align: center;
    }

// header

    header {

        img {
            width: 90%;
            border: double 10px #ff8327;
        }
    }

// nav 
    
    nav {
        align-items: start;
        padding: 40px 0 0;


        .mainMenu {
            
            .hide {
                display: none;
            }
            
            .logoA {
                font-size: 8rem;
            }
            
            .subMenu {
                display: inherit;
            }
        }
    }

// main / sectionOne

    .mainContainerOne {

        .iconContent {
            align-items: center;

            h3, p {
                padding-left: 0;
            }

            i {
                position: static;
                margin: 0 auto;
            }
        }
    }
}
