@media (max-width: 1041px) {

    // main / sectionThree
    .mainContainerThree {

        .contentTwo {
            justify-content: center;
            text-align: center;

            img {
                box-shadow: none;
                border: double 10px #ff8327;
            }
            
            div:last-child {
                padding-left: 0;
            }
        }
    }
    
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {

// header

    nav {

        li {
            padding: 0 10px;
        }
    }

// main / sectionOne

    .mainContainerOne {

        .wrapper {
            justify-content: center;
        
            .iconContent {
                min-width: 80%;
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

// header

    header {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;

        nav {

            a {
                padding: 0;
            }
        }

        h1 {
            font-size: 18rem;
            height: 160px;
        }

        h2 {
            text-align: center;
            width: 80%;
            height: 170px;
        }

        img {
            bottom: 130px;
            right: 5%;
            width: 90%;
        }
    }

// main / sectionThree

    .mainContainerThree {
            
        .contentOne {

            h3 {
                padding: 80px 0 50px;
            }
        }
    }
    

// footer

    footer {
        
        .wrapper {
            flex-direction: column;
            align-items: center;
            
            img {
                border: double 10px #ff8327;
                width: 70%;
            }
        }
    }

// Contact Header
    .contactHeader {
        height: 50vh;

        nav ~ div {
            height: 15vh;
        }

        h2 {
            text-shadow: #FF8327 2px 2px;
            display: inline-block;
            width: 100%;
        }
    }

// Contact Footer

    .contactFooter {

        .wrapper {
            height: max-content;
        }

        ul {
            justify-content: center;
        }

        .form {
            position: inherit;
            margin: 50px 0;
            box-shadow: none;
            border: double 10px #ff8327;
            width: 100%;

            .nameEmail {
                input[type="text"],
                input[type="email"] {
                    padding: 0;
                }
            }
        }
    }

    
}

/* Landscape phones and down */
@media (max-width: 480px) {
    
// global

    p {
        font-size: 3.4rem;
        text-align: center;
    }

// header

    header {
    
        nav {
            align-items: start;
            padding: 40px 0 0;
            height: 240px;

            ~ div {
                height: 55vh;
            }

            .mainMenu {
                
                .hide {
                    display: none;
                }
                
                .logoA {
                    font-size: 8rem;
                }
                
                .subMenu {
                    display: inherit;
                }
            }
        }
    }
// main / sectionOne

    .mainContainerOne {

        .iconContent {
            align-items: center;

            h3, p {
                padding-left: 0;
            }

            i {
                position: static;
                margin: 0 auto;
            }
        }
    }
}