html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
  font: 700 1rem 'Chathura', sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

li {
  list-style: none;
}

h2 {
  color: #FFF;
  font-size: 8.32rem;
  line-height: 9.47rem;
  letter-spacing: 2.6px;
}

h3 {
  font-size: 6.8rem;
  line-height: 5.8rem;
  letter-spacing: 2.2px;
}

p {
  color: #FFF;
  font: 400 3.9rem 'Chathura', sans-serif;
  line-height: 3rem;
  letter-spacing: 1.9px;
}

button {
  cursor: pointer;
  background-color: #bf2603;
  color: #FFF;
  border: none;
  font: 400 3.9rem 'Tulpen One', cursive;
  line-height: 3rem;
  letter-spacing: 1.9px;
  padding: 12px 35px;
  margin: 35px 0 90px;
  -webkit-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
}

button:hover, button:focus {
  background-color: #FF8327;
  color: black;
}

.copyright {
  background-color: #2e2c2c;
  padding: 10px;
  text-align: center;
}

header {
  background-image: url(../assets/bar-one/home-image-1.jpg);
  height: 95vh;
  background-position: center;
}

header img {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -60px;
}

header nav ~ div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  position: relative;
  z-index: 3;
}

header nav ~ div h2 {
  width: 380px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

nav ul .logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

nav li {
  font-size: 3.8rem;
  line-height: 29px;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  padding: 0 20px;
}

nav li .logoA {
  font: 400 4.8rem 'Tulpen One', cursive;
  letter-spacing: 2.4px;
  text-transform: none;
}

nav a {
  color: #FFF;
  text-decoration: none;
  padding: 0 20px;
  -webkit-transition: color 1s;
  transition: color 1s;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

nav a:hover, nav a:focus {
  color: #FF8327;
}

h1 {
  color: #FF8327;
  font: 400 26.14rem 'Tulpen One', cursive;
  height: 210px;
}

.logo {
  position: relative;
}

.subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

.mainMenu .logo:hover .subMenu,
.mainMenu .logo:focus-within .subMenu {
  height: auto;
}

.contactHeader {
  background-image: url(../assets/bar-one/contact-header-1.jpg);
  background-size: cover;
  height: 70vh;
}

.contactHeader nav ~ div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 38vh;
}

.contactHeader h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainContainerOne {
  background: #181717;
  position: relative;
  z-index: -1;
}

.mainContainerOne .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 170px 0 110px;
}

.mainContainerOne .iconContent {
  position: relative;
  width: calc(50% - 10px);
  min-width: 425px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainContainerOne .iconContent i {
  background-color: #BF2603;
  color: #FFF;
  font-size: 3rem;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 14px;
  position: absolute;
  top: 25px;
}

.mainContainerOne .iconContent h3 {
  color: #FFF;
  padding: 25px 0 30px 80px;
}

.mainContainerOne .iconContent p {
  padding: 0 0 50px 80px;
}

.mainContainerTwo {
  background-color: #220303;
  position: relative;
}

.mainContainerTwo .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContainerTwo .wrapper .containerTwoImg1 {
  position: relative;
  width: 630px;
  right: 118px;
  bottom: 35px;
}

.mainContainerTwo .wrapper .containerTwoImg1 img {
  width: 100%;
  -webkit-box-shadow: #FF8327 25px 25px;
          box-shadow: #FF8327 25px 25px;
}

.mainContainerTwo .wrapper .containerTwoContent {
  width: 40%;
  min-width: 470px;
}

.mainContainerTwo .wrapper .containerTwoContent h3 {
  color: #FFF;
  padding: 70px 0 10px;
}

.mainContainerTwo .wrapper .containerTwoContent .buttonOne {
  margin-bottom: 0;
}

.mainContainerTwo .wrapper .containerTwoContent .align {
  text-align: right;
}

.mainContainerTwo .wrapper .containerTwoImg2 img {
  position: absolute;
  bottom: -40px;
  right: 0px;
  width: 41.6%;
  -webkit-box-shadow: #FF8327 -25px 25px;
          box-shadow: #FF8327 -25px 25px;
}

.mainContainerThree {
  background-color: #181717;
}

.mainContainerThree h3 {
  color: #FF8327;
  padding: 0 0 30px;
}

.mainContainerThree .contentOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 70%;
}

.mainContainerThree .contentOne h3 {
  padding-top: 160px;
}

.mainContainerThree .contentOne button {
  width: 210px;
}

.mainContainerThree div:nth-of-type(2n) img {
  width: 100%;
}

.mainContainerThree .contentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.mainContainerThree .contentTwo img {
  -webkit-box-shadow: #FF8327 -25px 25px;
          box-shadow: #FF8327 -25px 25px;
  margin-bottom: 20px;
  width: 100%;
  min-width: 300px;
}

.mainContainerThree .contentTwo div:last-child {
  padding-left: 20px;
  width: 67%;
}

footer {
  background-color: #220303;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

footer .wrapper img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc((100% / 3) - 25px);
}

.contactFooter {
  background-color: #181717;
}

.contactFooter .wrapper {
  padding-bottom: 0;
  height: 470px;
}

.contactFooter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactFooter ul li {
  font-size: 3rem;
  padding-right: 20px;
  height: 40px;
}

.contactFooter ul li a {
  color: #FFF;
  padding: 0;
}

.contactFooter ul li a:hover, .contactFooter ul li a:focus {
  color: #FF8327;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.contactFooter p:nth-of-type(1) {
  padding: 20px 0;
}

.contactFooter .form {
  background-color: #220303;
  width: 65%;
  height: 500px;
  position: relative;
  bottom: 250px;
  -webkit-box-shadow: #FF8327 20px 20px;
          box-shadow: #FF8327 20px 20px;
  padding: 40px;
}

.contactFooter .form .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactFooter .form .nameEmail input[type="text"],
.contactFooter .form .nameEmail input[type="email"] {
  font: 700 4rem 'Chathura', sans-serif;
  background-color: transparent;
  color: #FFF;
  width: calc((100% / 2 ) - 20px);
  height: 50px;
  padding: 0 0 0 20px;
  border: transparent;
  border-bottom: solid;
}

.contactFooter .form .message {
  width: 100%;
  padding-top: 30px;
}

.contactFooter .form .message textarea[name="userFeedback"] {
  font: 700 4rem 'Chathura', sans-serif;
  background-color: transparent;
  color: #FFF;
  border: 3px solid #FFF;
  padding: 0   0 0 20px;
  width: 100%;
  height: 250px;
  resize: none;
}

.contactFooter .form button {
  width: 100%;
}

@media (max-width: 1250px) {
  .mainContainerTwo .wrapper {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .mainContainerTwo .wrapper .containerTwoImg1 {
    position: static;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainerTwo .wrapper .containerTwoImg1 img {
    width: 80%;
  }
  .mainContainerTwo .wrapper .containerTwoImg2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .mainContainerTwo .wrapper .containerTwoImg2 img {
    position: static;
    width: 80%;
  }
  .grid .gridOne .gridImgOne,
  .grid .gridOne .gridImgTwo {
    width: 100%;
  }
  .grid .gridOne .gridImgOne img,
  .grid .gridTwo .gridImgTwo img {
    position: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 1041px) {
  .mainContainerThree .contentTwo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .mainContainerThree .contentTwo img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: double 10px #ff8327;
  }
  .mainContainerThree .contentTwo div:last-child {
    padding-left: 0;
  }
  .grid .gridOne.wrapper {
    width: inherit;
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
  }
  .blog .grid .gridTwo {
    width: 100%;
  }
  .blog .grid .gridTwo .wrapperTwo {
    padding: 20px 20px;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  nav li {
    padding: 0 10px;
  }
  .mainContainerOne .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainerOne .wrapper .iconContent {
    min-width: 80%;
  }
  .mainContainerTwo .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainerTwo .wrapper .containerTwoImg1 img,
  .mainContainerTwo .wrapper .containerTwoImg2 img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: double 10px #ff8327;
  }
  .containerTwoContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    min-width: 320px;
  }
  .containerTwoContent p {
    width: 60%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
  }
  header nav a {
    padding: 0;
  }
  header h1 {
    font-size: 18rem;
    height: 160px;
  }
  header h2 {
    text-align: center;
    width: 80%;
    height: 170px;
  }
  header img {
    bottom: 130px;
    right: 5%;
    width: 90%;
  }
  .mainContainerThree .contentOne h3 {
    padding: 80px 0 50px;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper img {
    border: double 10px #ff8327;
    width: 70%;
  }
  .blogHeader,
  .contactHeader {
    height: 50vh;
  }
  .blogHeader nav ~ div,
  .contactHeader nav ~ div {
    height: 15vh;
  }
  .blogHeader h2,
  .contactHeader h2 {
    text-shadow: #FF8327 2px 2px;
    display: inline-block;
    width: 100%;
  }
  .blog .containerThree.wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog .containerThree.wrapper .commentSection {
    width: 100%;
  }
  .blog .containerThree.wrapper .commentSection .commentOne,
  .blog .containerThree.wrapper .commentSection .commentTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .blog .containerThree.wrapper .commentSection .commentOne h4,
  .blog .containerThree.wrapper .commentSection .commentTwo h4 {
    text-align: center;
  }
  .blog .containerThree.wrapper .commentSection .commentOne :nth-child(2),
  .blog .containerThree.wrapper .commentSection .commentTwo :nth-child(2) {
    padding-left: 0;
  }
  .contactFooter .wrapper,
  .blogFooter .wrapper {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .contactFooter ul,
  .blogFooter ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactFooter .form,
  .blogFooter .form {
    position: inherit;
    margin: 50px 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: double 10px #ff8327;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .contactFooter .form button,
  .blogFooter .form button {
    margin-bottom: 0;
  }
  .contactFooter .form .nameEmail,
  .blogFooter .form .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFooter .form .nameEmail input[type="text"],
  .contactFooter .form .nameEmail input[type="email"],
  .blogFooter .form .nameEmail input[type="text"],
  .blogFooter .form .nameEmail input[type="email"] {
    padding: 0;
    width: 100%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  p {
    font-size: 3.4rem;
    text-align: center;
  }
  header nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 40px 0 0;
    height: 240px;
  }
  header nav ~ div {
    height: 55vh;
  }
  header nav ~ div h2 {
    width: 320px;
  }
  header nav .mainMenu .hide {
    display: none;
  }
  header nav .mainMenu .logoA {
    font-size: 8rem;
  }
  header nav .mainMenu .subMenu {
    display: inherit;
  }
  .mainContainerOne .iconContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContainerOne .iconContent h3, .mainContainerOne .iconContent p {
    padding-left: 0;
  }
  .mainContainerOne .iconContent i {
    position: static;
    margin: 0 auto;
  }
  .mainContainerTwo .wrapper .containerTwoContent {
    min-width: 320px;
  }
  .grid .gridTwo .gridImgTwo {
    height: 300px;
  }
}

.blogHeader {
  background-image: url(../assets/bar-one/blog-header-1.jpg);
  height: 73vh;
  background-size: cover;
  background-position: center;
}

.blogHeader nav ~ div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 38vh;
}

.blogHeader h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blog main,
.blog footer {
  background-color: #181717;
  padding-top: 120px;
}

.blog h3 {
  color: #FFF;
}

.blog h4 {
  color: #ff8327;
  font-size: 4rem;
  letter-spacing: 2.4px;
  line-height: 2rem;
  padding: 0 0 15px 30px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid .gridOne {
  width: 35%;
  min-width: 400px;
}

.grid .gridTwo {
  width: 60%;
}

.containerOne {
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  padding: 0;
}

.containerOne .gridImgOne {
  width: 460px;
}

.containerOne .gridImgOne img {
  width: 100%;
  position: relative;
  right: 118px;
  bottom: 20px;
}

.containerOne .gridOneContent {
  padding: 0 30px 35px;
}

.containerOne .gridOneContent a {
  color: #ff8327;
  font: 700 3.9rem 'Chathura', sans-serif;
  text-decoration: none;
  line-height: 3rem;
  letter-spacing: 1.9px;
  padding-bottom: 31px;
  display: inline-block;
}

.containerOne .gridOneContent ul li {
  font-size: 2rem;
  color: #ff8327;
  list-style: inherit;
  margin-left: 30px;
}

.gridTwo {
  border-bottom: solid 10px #ff8327;
  border-left: solid 10px #ff8327;
}

.gridTwo .gridImgTwo {
  width: 100%;
  height: 420px;
}

.gridTwo .gridImgTwo img {
  width: 98.6%;
  position: relative;
  left: 11px;
  bottom: 250px;
  -webkit-box-shadow: #ff8327 -20px 20px;
          box-shadow: #ff8327 -20px 20px;
}

.gridTwo .wrapperTwo {
  padding: 20px 100px;
}

.gridTwo .containerTwo p {
  padding: 20px;
}

.gridTwo .containerTwo p:last-child {
  padding-bottom: 80px;
}

.gridTwo .containerTwo .date {
  color: #ff8327;
}

.commentSection,
.form {
  width: 60%;
}

.containerThree.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 60px 0 0;
}

.commentOne {
  padding: 20px 0 100px;
}

.commentOne,
.commentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.commentOne :nth-child(2),
.commentTwo :nth-child(2) {
  padding-left: 30px;
}

.blogFooter {
  padding: 0;
}

.blogFooter .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 0 80px;
}

.form {
  width: 65%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  bottom: 250px;
  padding: 40px;
}

.form .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .nameEmail input[type="text"],
.form .nameEmail input[type="email"] {
  font: 700 4rem 'Chathura', sans-serif;
  background-color: transparent;
  color: #FFF;
  width: calc((100% / 2 ) - 20px);
  height: 50px;
  padding: 0 0 0 20px;
  border: transparent;
  border-bottom: solid #ff8327;
}

.form .message {
  width: 100%;
  padding-top: 30px;
}

.form .message textarea[name="userFeedback"] {
  font: 700 4rem 'Chathura', sans-serif;
  background-color: transparent;
  color: #FFF;
  border: 3px solid #ff8327;
  padding: 0   0 0 20px;
  width: 100%;
  height: 250px;
  resize: none;
}

.form button {
  width: 100%;
}
